@model IEnumerable<OnlineRecyclingSystem.Models.Order>

@using Microsoft.AspNetCore.Identity
@using OnlineRecyclingSystem.Areas.Identity.Data

@inject UserManager<OnlineRecyclingSystemUser> UserManager

@{
    ViewData["Title"] = "DriverIndex";
}

<h1>Get Orders</h1>

<p>
    <a asp-action="DriverIndex">Refresh Orders</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BigBottle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmallBottle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Can)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.DriverName == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CusContact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CusAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BigBottle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SmallBottle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Can)
                    </td>
                    
                    <td>
                        @if (item.DriverName == UserManager.GetUserName(User))
                        {
                            <a asp-action="CompleteOrder" asp-route-id="@item.ID">Complete Order</a>

                        }
                        else if (item.DriverName == null)
                        {
                            <a asp-action="AcceptOrder" asp-route-id="@item.ID">Accept Order</a> 
                            
                            
                        }
                        else
                        {

                        }
                    </td>
                </tr>
            }
            
        }
    </tbody>
</table>
